@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;                                          
}

p {
  margin: 10px 0;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

header {
  padding: 5px;
  margin-bottom: 10px;
}

header a {
  color: #fff;
}

.container {
  width: 100%;
  margin: auto;
  padding: 5px 10px;
}

.header-container{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #213147;
  margin-bottom: 0;
  z-index: 99;
}
.footer-container{
  background-color: #213147;
  padding: 23px;
  margin-bottom: 0;
}

.head-text{
  color: #213147;
  background-color: white;
  padding: 4px 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.head-text:hover{
  transform: scale(1.02);
}

.flex-cont{
  display: flex;
  align-items: center;
  justify-content: center;  
}

.bg-master{
  background: #213147;
  padding: 8px 16px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(1.02);
}

.btn-back {
  padding: 8px 16px;
  color: white;
  margin-bottom: 15px;

}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 768px;
  margin: 70px 0 30px 0;
}

.main-cont-bg{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 15px;
  border: 3px solid #213147;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  color: #213147;
  cursor: pointer;
}

.card img{
  height: 200px;
}

.card-2-container{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #213147;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-bottom: 20px;
}
.card-2{
  max-width: 686px;
  padding: 15px 20px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  color: #213147;
}

.card:hover{
  transform: scale(1.02);

}
.card-title{
  margin-top: 10px;
  width: 100%;
  font-weight: 800;
}
.card-desc{
  font-weight: 500;
  font-size: 15px;
  padding: 0 4px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  margin-bottom: 10px;
  padding: 3px 8px;
  font-size: 13px;
  font-weight: 600;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 20px;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}
